.user-display
    display: flex
    flex-direction: row-reverse
    width: 100%
    justify-content: center

    &__info
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 10%
        width: 100%
