.search-bar
    display: flex
    width: 70%
    align-items: center
    height: 10vh

    &__input
        padding: 12px
        margin: 5px

.feedback
    font-weight: bold

    &--error
        font-size: 1.2em
        color: crimson

    &--info
        font-size: 1.2em
        color: white

.carsResult
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center

@media screen and ( min-width: 992px )
    .search-bar
        width: 50%
